<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <filter>
    <filter-name>CloudSqlFilter</filter-name>
    <filter-class>com.bedatadriven.appengine.cloudsql.CloudSqlFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CloudSqlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>TestApplication</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.bedatadriven.appengine.cloudsql.TestApplication</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TestApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
